<div class="container">
  <div class="row">
    <div class="col">
      <h2>Halaman Detail Contact</h2>

      <% if (!contact) { %>
      <div class="alert alert-danger fw-bold" role="alert">Data Contact Tidak Tersedia! <a href="/contacts" class="fw-normal text-decoration-none">Kembali Ke Halaman Kontak &rAarr;</a></div>
      <% } else { %>
      <div class="card bg-success" style="width: 18rem">
        <div class="card-body text-white">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2"><%= contact.email %></h6>
          <p class="card-text"><%= contact.telp %></p>
          <a href="/contacts" class="card-link text-danger fw-bold">&laquo; Back</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
