<div class="jumbotron text-center">
  <img src="img/3.jpg" class="img-thumbnail rounded-circle my-3" alt="Ketsar" />
  <h1 class="display-4">Ketsar Ali</h1>
  <p class="lead">Develper | Writer</p>
</div>
